fastapi
uvicorn[standard]
requests
python-telegram-bot
python-dotenv
duckduckgo-search>=6.2.4
bs4
trafilatura
ftfy
rapidfuzz
yt-dlp
deep-translator
gTTS
faster-whisper
Pillow
aiohttp
httpx
aiosignal
frozenlist
tzdata
beautifulsoup4
